@model ProjektG1.Models.Task

@{
    ViewBag.Title = "DodajTask";
    //Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div style="margin-top: 200px;" class="flex-wrapper container col-lg-6 col-lg-offset-3">
    <h2>DodajTask</h2>

    @using (Html.BeginForm("Create", "Task", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(m => m.Tytul, new { @placeholder = "Task title" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.OsobaOdpowiedzialna, new { @Value = User.Identity.Name })
        </div>
        <div class="form-group">@Html.TextBoxFor(m => m.Termin, new { @class = "date-picker", @placeholder="Termin" })</div>
        <div class="form-group">@Html.TextAreaFor(m => m.Komentarz, new { @placeholder = "Komentarz" })</div>
        <div class="form-group">@Html.HiddenFor(m => m.TaskGroupId, new { @id = "TaskGroupIdRetriever" })</div>
        <div class="form-group"><input type="submit" value="Create" id="CreateTaskButton"/></div>        
        
    }

    <p>
        @Html.ActionLink("Powrót", "Zadanie")
    </p>
</div>
