@model ProjektG1.Models.Task

@{
    ViewBag.Title = "DodajTask";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>DodajTask</h2>

@using (Html.BeginForm("Create", "Task"))
{
    @Html.LabelFor(m => m.Tytul)
    @Html.TextBoxFor(m => m.Tytul)
    @Html.LabelFor(m => m.OsobaOdpowiedzialna)
    @Html.TextBoxFor(m => m.OsobaOdpowiedzialna)
    @Html.LabelFor(m => m.Termin)
    @Html.TextBoxFor(m => m.Termin, new{ @class="date-picker" })
    @Html.LabelFor(m => m.Komentarz)
    @Html.TextBoxFor(m => m.Komentarz)
    @Html.HiddenFor(m=>m.TaskGroupId, new {@id="TaskGroupIdRetriever"})
    <input type="submit" value="Create"/>
}

<p>
    @Html.ActionLink("Powrót", "Zadanie")
</p>