@using ProjektG1.Controllers
@using ProjektG1.Models
@model ProjektG1.Models.Task

@{
    ViewBag.Title = "Zadanie";
}

<h2>Zadanie</h2>

@foreach (Task item in ViewBag.Zadanie)
{
    <ul>
        @item.Tytul
        <li>
            Osoba odpowiedzialna: @item.OsobaOdpowiedzialna
        </li>
        <li>
            Data dodania: @item.DataDodania
        </li>
        <li>
            Termin: @item.Termin
        </li>
        <li>
            Komentarz: @item.Komentarz
        </li>
    </ul>
    using (Html.BeginForm("Delete", "Task", new {id = item.ID}))
     {
         <input type="submit" name="ButtonUsun" value="usuń" id=@item.ID />
     }
}
@using (Html.BeginForm("DodajTask","Task"))
{
  <input type="submit" value="dodaj"/>
}