@using System.Web.UI.WebControls
@using ProjektG1.Models
@model ProjektG1.Models.Task

@{
    ViewBag.Title = "Zadanie";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/css-zadanie.css")">
}

<h2>Zadanie</h2>

@foreach (Task item in ViewBag.Zadanie)
{
    <div id="draggable" class="ui-widget-content">
        <input type="submit" name="ButtonTask" value="@item.Tytul" id="ButtonTask" />

        <div class="toggler" id="toggler">
            <p>
                Dodano przez: @item.OsobaDodajacaZadanie
                <br/>
                Osoba odpowiedzialna: @item.OsobaOdpowiedzialna
                <br/>
                Data dodania: @item.DataDodania
                <br/>
                komentarz: @item.Komentarz
            </p>
        </div>

        <div class="wJednejLinii" style="display: inline">
            @using (Html.BeginForm("Delete", "Task", new { id = item.ID }))
            {
                <input type="submit" name="ButtonUsun" value="Usuń" id=@item.ID/>
            }
            @using (Html.BeginForm("EdytujTask", "Task", new { id = item.ID }))
            {
                <input type="submit" name="ButtonEdytuj" value="Edytuj" id=@item.ID/>
            }
        </div>

    </div>
}




<div id="droppable" class="ui-widget-header">
    <p> upuść taska tutaj!</p>
</div>



@using (Html.BeginForm("DodajTask", "Task"))
{
    <input type="submit" value="Dodaj" />
}

@Html.ActionLink("Strona logowania", "Index", "Home")