@using ProjektG1.Models
@model ProjektG1.Models.Task

@{
    ViewBag.Title = "Zadanie";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    
}

<h2>Zadanie</h2>
@using (Html.JQueryUI().BeginDroppable())
{


foreach (Task item in ViewBag.Zadanie)
 {
    @*<ul>
        @item.Tytul
        <li>
            Dodane przez: @item.OsobaDodajacaZadanie
        </li>
        <li>
            Osoba odpowiedzialna: @item.OsobaOdpowiedzialna
        </li>
        <li>
            Data dodania: @item.DataDodania
        </li>
        <li>
            Termin: @item.Termin
        </li>
        <li>
            Komentarz: @item.Komentarz
        </li>
    </ul>*@

     using (Html.JQueryUI().BeginDraggable())
     {
         <span>@item.Tytul</span>
     }

     <span>
         @using (Html.BeginForm("Delete", "Task", new {id = item.ID}))
         {
             <input type="submit" name="ButtonUsun" value="Usuń" id=@item.ID />
         }
         @* przenieś do view edycji *@
         @using (Html.BeginForm("EdytujTask", "Task", new {id = item.ID}))
         {
             <input type="submit" name="ButtonEdytuj" value="Edytuj" id=@item.ID/>
         }
     </span>
 }
}

@using (Html.BeginForm("DodajTask","Task"))
{
  <input type="submit" value="Dodaj"/>
}

@Html.ActionLink("Strona logowania", "Index" ,"Home")