@using System.Web.UI.WebControls
@using ProjektG1.Models
@model ProjektG1.Models.Task

@{
    ViewBag.Title = "Zadanie";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/css-zadanie.css")" />

}

<div class="container">
    <div class="col-lg-12 col-md-12" id="wrapper">
        @using (Html.BeginForm("AddGroup", "Group"))
        {
            <input type="submit" name="ButtonAddGroup" value="Dodaj Grupę" />
        }
        @foreach (TaskGroup grupa in ViewBag.Grupy)
        {
            <div class="col-lg-9 col-md-9">
                <div class="col-lg-4 col-md-4 task-group" id="droppable" title="@grupa.TaskGroupId">
                    <p class="task-group-name">@grupa.GroupName</p>

                    @if (@grupa.ListaTaskow != null)
                    {
                        var i = 1;
                        foreach (var item in @grupa.ListaTaskow)
                        {
                            <div class="task" title=task @i>
                                <input type="submit" name="ButtonTask" value="@item.Tytul" id="ButtonTask"
                                       class="btn btn-default buttonTask" />

                                <div class="toggler" id="toggler">
                                    <p>
                                        Dodano przez: @item.OsobaDodajacaZadanie
                                        <br />
                                        Osoba odpowiedzialna: @item.OsobaOdpowiedzialna
                                        <br />
                                        Data dodania: @item.DataDodania
                                        <br />
                                        komentarz: @item.Komentarz
                                    </p>
                                </div>

                                <div class="task-controls-area">
                                    @using (Html.BeginForm("Delete", "Task", new { id = item.ID }))
                                    {
                                        <button type="submit" name="ButtonUsun" value="Usun Task" id=@item.ID
                                                class="btn btn-default inline usun">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    }
                                    @using (Html.BeginForm("EdytujTask", "Task", new { id = item.ID }))
                                    {
                                        <input type="submit" name="ButtonEdytuj" value="Edytuj Task" id=@item.ID
                                               class="btn btn-default inline" />
                                    }
                                </div>
                            </div>
                            i++;
                        }
                    }
                    @using (Html.BeginForm("DodajTask", "Task"))
                    {
                        <input type="submit" value="Dodaj Task" class="findParentsId"/>
                    }
                    <input type="submit" value="Usuń Grupę" />

                </div>
            </div>
        }
    </div>
</div>
