@model ProjektG1.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/css-bg.css")">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
}
<!-- to do content -->

<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center">
                <div class="flex-wrapper">
                    <div class="text-area">
                        <p class="text hello-text">Hello! Login to your account below!</p>
                    </div>


                    <div id="form-area">
                        @using (@Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="col-md-12 col-lg-12">
                                    @*<input type="text" class="form-control my-input" placeholder="login">*@
                                    @Html.TextBoxFor(u => u.Username, new { @class = "form-control my-input", placeholder = "login" })
                                    @Html.ValidationMessageFor(u => u.Username)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 col-lg-12">
                                    @*<input type="password" class="form-control my-input" placeholder="password">*@
                                    @Html.PasswordFor(u => u.Password, new { @class = "form-control my-input", placeholder = "password" })
                                    @Html.ValidationMessageFor(u => u.Password)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 col-lg-12">
                                    <button type="submit" class="btn btn-primary col-md-12 col-lg-12 my-button">Sign in</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 col-lg-12">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(u => u.RememberMe)
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <p class="text">
                        <small>
                            Don't have an account?&nbsp;
                            @Html.ActionLink("Register", "Register", "User", null, new { style = "text-decoration: underline;" })
                        </small>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>